section {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 1rem;
}

.circle-img {
  display: flex;
  width: 3rem;
  height: 3rem;
  background-color: rebeccapurple;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.dual-content {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
