body {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 2rem;
  overflow: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
  width: 100vw;
  word-wrap: break-word;
}

form {
  height: auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

form input {
  background-color: var(--secondary-color);
  width: 80%;
  max-width: 600px;
  padding: 0.5rem;
  border-radius: 2.5%;
  color: var(--main-background);
}

form button {
  padding: 0.5rem;
  width: 80%;
  max-width: 600px;
  background-color: var(--main-color);
  color: var(--main-background);
  border-radius: 5%;
  border: none;
}

footer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

p {
  width: 80%;
  font-weight: 400;
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: left;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
