body {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
  max-height: 100vh;
  max-width: 100vw;
  overflow: scroll;
  color: #929292;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasks {
  box-shadow: none;
  margin-bottom: 10px;
  font-size: 1.2rem;
  width: 100%;
}

.main-header {
  padding: 1rem 0.4rem;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  color: var(--);
}

.main-footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  row-gap: 1rem;
}

.footer-content {
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
}

.main-infos-task {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  row-gap: 2rem;
  width: 100%;
  height: 100%;
}

textarea {
  padding: 1rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  height: 100%;
  width: 50rem;
}

textarea:focus {
  outline: none;
}

#anotations {
  width: 100%;
  height: 10rem;
}
