html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
  max-height: 100dvh;
  max-width: 100dvw;
  overflow-y: scroll;
  overflow-x: hidden !important;
  color: #929292;
  font-weight: 400;
}

.main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.tasks {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  height: 4rem;
  max-height: auto;
  background-color: var(--task-background);
  width: 100vw;
  min-height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.task-content {
  display: flex;
  width: max-content;
}

.task-display {
  display: flex;
  gap: 1rem;
}

.task-name {
  max-width: 90%;
  width: auto;
  color: var(--secondary-color);
  opacity: 70%;
  padding: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tasks button {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
}

.tasks button:hover {
  background-color: var(--main-color);
}

.tasks input {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-header {
  margin-left: 0.5rem;
  padding: 1rem 0.4rem;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.main-footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  row-gap: 1rem;
}

.footer-content {
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
}

.main-infos-task {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  row-gap: 2rem;
  width: 100%;
  height: 100%;
}

textarea {
  padding: 1rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  height: 100%;
  width: 50rem;
}

textarea:focus {
  outline: none;
}

.form-input-box {
  padding: 1rem !important;
}

#anotations {
  width: 100%;
  height: 10rem;
}

@media (max-width: 468px) {
  html {
    font-size: 87.5% !important;
  }
}
