* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

ul,
ol {
  list-style: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
  color: var(--secondary-color);
  background-color: var(--main-background);
  font-weight: 500;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

input {
  background-color: transparent;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="file"] {
  display: none;
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid #7e7e7e;
  opacity: 15%;
}

@media (max-width: 468px) {
  html {
    font-size: 87.5%;
  }
}

.box-animated {
  position: relative;
  overflow: hidden;
}

.box-button-activate {
  position: relative;
  overflow: visible;
}

.box-button-activate::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(126, 126, 126, 0.3);
  transition: opacity 300ms ease-in-out;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.box-button-activate:hover::after {
  opacity: 0.2;
}

.box-button-activate:active::after {
  opacity: 1;
}

.box-animated::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(126, 126, 126, 0.3);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.box-animated:hover::after {
  opacity: 0.2;
}

.box-animated:active::after {
  opacity: 1;
}
