html {
  font-size: 95%;
}

.main-content {
  box-sizing: border-box;
}

.todo {
  height: 100dvh;
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.todo hr {
  border-width: 0.5px;
}

.groups {
  height: 95dvh;
  overflow-y: auto;
}

.todo__footer {
  position: relative;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: var(--task-background);
  box-shadow: 0 1px 4px #0004;
  transition: all 0.3s ease-in-out;
}

.todo__footer--content {
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
  width: 90%;
  font-size: 1.25rem;
  background-color: var(--main-background);
  color: gray;
}

.todo__footer--content span {
  font-size: 1.5rem;
}

.main-header {
  display: grid;
  grid-template-columns: auto 1fr auto; /* duas colunas: esquerda e direita */
  grid-template-rows: auto auto; /* duas linhas: ícones e título */
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  color: var(--main-color);
  z-index: 1000;
  font-family: var(--main-font);
  margin-top: 0.5rem;
}

.main-header a {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.25rem;
}

.main-header #settings {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  font-size: 1.5rem;
}

.main-header h1 {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0.5rem 0 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.task-display {
  display: flex;
  gap: 1rem;
}

.main-header h1 {
  font-size: 2rem;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-content {
  background-color: var(--main-background);
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  border-radius: 0;
  box-shadow: none;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.main-tasks,
.drop-down-task.main-tasks,
.drop-down-task {
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-background);
  width: 100vw;
  row-gap: 2.5px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.main-tasks {
  margin-top: 6rem;
}

.drop-down-task {
  display: none;
  flex-direction: column;
  row-gap: 5px;
}

.main-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: var(--form-background);
  z-index: 9999;
}

.content-form {
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3.5rem;
  padding: 0.5rem 0;
  border-radius: 0;
  width: inherit;
  background-color: var(--secondary-background);
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
}

.main-form input {
  height: 2.5rem;
  min-height: auto;
  width: 70vw;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
}

.main-form input:focus {
  outline: none;
}

.send-button {
  background-color: var(--button-background);
  border: none;
  height: 2rem;
  width: 10%;
  opacity: 30%;
  max-width: 50px;
  color: var(--task-background);
  border-radius: 10px;
}

.home__main-groups {
  margin-top: 4rem;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 0.5rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.home__group {
  margin-top: 2rem !important;
}

.home__header {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background);
}

.home__group {
  margin-bottom: 2rem;
}

.lines {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

#button-completed-tasks {
  display: flex;
  gap: 1rem;
}
