.content-box {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
}

.content-box span {
  font-size: 1.25rem;
}

.form-input-box {
  display: flex;
  gap: 1rem;
  color: #929292;
}

.form-input-box input:focus {
  outline: none;
}

.form-input {
  border: none;
  background-color: transparent;
  color: #7e7e7e;
}
