.tasks {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  height: 4rem;
  max-height: auto;
  background-color: var(--task-background);
  width: 97%;
  min-height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  box-shadow: 0 1px 4px #0004;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.task-content {
  display: flex;
  width: max-content;
}

.task-name {
  max-width: 90%;
  width: auto;
  color: var(--secondary-color);
  opacity: 70%;
  padding: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tasks button {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
}

.circle-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
}

.tasks button:hover {
  background-color: var(--main-color);
}

#button-completed-tasks {
  margin-left: 1rem;
  background-color: transparent;
  color: var(--main-color);
  border: none;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.main-settings {
  position: relative;
}

#settings {
  position: relative;
  font-size: 1.5rem;
  width: 10px;
  height: 10px;
}

.settings-drop-down {
  display: none;
  flex-direction: column;
  margin-right: 0.5rem;
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  row-gap: 1rem;
  color: var(--secondary-color);
  width: 50%;
  height: auto;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--settings-background);
}

.add-task {
  position: fixed;
  bottom: 1rem;
  right: 3vw;
  display: flex;
  z-index: 20;
}

.add-task button {
  font-family: "Arial", sans-serif;
  width: 3.7rem;
  height: 3.7rem;
  border: none;
  border-radius: 50%;
  font-size: 2.5rem;
  background-color: var(--main-color);
  font-family: var(--font-playfair);
  font-weight: bold;
  color: var(--setup-background-color);
}

.content-box {
  padding: 0 1rem;
  display: flex;
  gap: 1.2rem;
}

.content-box span {
  font-size: 1.25rem;
}

.form-input-box {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  color: #929292;
}

.form-input-box input:focus {
  outline: none;
}

.form-input {
  border: none;
  background-color: transparent;
  color: #7e7e7e;
}

.drop-down-content {
  display: flex;
  cursor: pointer;
  gap: 0.5rem;
  opacity: 100%;
  width: 100rem;
  font-family: "Arial";
  font-weight: lighter;
}

.drop-down-content:hover {
  opacity: 80%;
}
