.is-active {
  display: flex;
}

.is-hidden {
  display: none;
}

.is-shrink {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: var(--task-background);
  align-items: center;
  box-shadow: var(--box-shadow);
}
