.is-active {
  display: flex;
}

.is-hidden {
  display: none;
}

.is-shrink {
  margin: 0 !important;
  background-color: var(--main-background) !important;
  padding: 1rem !important;
}

.is-shrink h1 {
  margin: 0 !important;
  padding-left: 3rem !important;
  grid-row: 1 !important;
  font-size: 1.5rem !important;
}

.is-shrink #settings {
  font-size: 1.5rem !important;
  width: max-content !important;
  height: max-content !important;
}

.is-selected {
  outline: 2px solid var(--secondary-color);
  outline-offset: 1px;
}
