.is-active {
  display: flex;
}

.is-shrink {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: var(--task-background);
  align-items: center;
  box-shadow: 0 1px 4px #0004;
}
