@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --main-background: #080808;
  --secondary-background: #212121;
  --task-background: #212121;
  --button-background: #767676;
  --form-background: rgba(0, 0, 0, 0.5);
  --main-color: #778cdd;
  --secondary-color: white;
  --hr-color: #303030;
  --border-color: #ccc;
  --settings-background: #303030;
  --setup-background-color: black;

  --box-shadow: 0 1px 4px #0004;

  --blue: #778cdd;
  --pink: #f2b7c1;
  --green: #437d89;

  --main-font: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --open-sans: "Open Sans", sans-serif;
}

.light-theme {
  --main-background: #f9f9f9;
  --secondary-background: #f5f5f5;
  --task-background: #ffffff;
  --button-background: #e0e0e0;
  --main-color: #4a63c8;
  --secondary-color: #1c1c1c;
  --hr-color: #1c1c1c;
  --border-color: #d1d1d1;
  --settings-background: #f0f0f0;
  --setup-background-color: #ffffff;

  /*--main-font: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;*/
}

.pink-theme {
  --main-color: #f2b7c1;
}

.green-theme {
  --main-color: #437d89;
}
