:root {
    --main-background: #080808;
    --task-background: #212121;
    --button-background: #767676;
    --main-color: #778CDD;
    --setup-background-color: black;

    --main-font: "Roboto", sans-serif;
    --font-playfair: "Playfair Display", serif;
}
