.header {
  display: flex;
  padding: 0.5rem 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: var(--main-background);
  color: white;
  box-sizing: border-box;
  position: absolute;
  height: 3.5rem;
  z-index: 9999;
}

.header_content {
  display: flex;
  gap: 1rem;
}

.header_content_text {
  display: flex;
  flex-direction: column;
}

.circle_img {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  color: white;
  border-radius: 50%;
  background-color: rebeccapurple;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  color: gray;
}

span {
  color: gray;
  font-size: 1rem;
}
