.dropDown {
  position: absolute;
  top: calc(env(safe-area-inset-top) + 5rem);
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 12.5rem;
  padding: 1rem;
  height: auto;

  background-color: var(--settings-background);
  border-radius: 5px;
  color: var(--secondary-color);

  z-index: 999;
}

.dropDownContent {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  box-sizing: border-box;
}

.dropDownContent:hover {
  opacity: 80%;
}
