@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

ul,
ol {
  list-style: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
  color: var(--secondary-color);
  background-color: var(--main-background);
  font-weight: 500;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

input {
  background-color: transparent;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="file"] {
  display: none;
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid #7e7e7e;
  opacity: 15%;
}

@media (max-width: 468px) {
  html {
    font-size: 87.5%;
  }
}

.box-animated {
  position: relative;
  overflow: hidden;
}

.box-button-activate {
  position: relative;
  overflow: visible;
}

.box-button-activate::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(126, 126, 126, 0.3);
  transition: opacity 300ms ease-in-out;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.box-button-activate:hover::after {
  opacity: 0.2;
}

.box-button-activate:active::after {
  opacity: 1;
}

.box-animated::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(126, 126, 126, 0.3);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.box-animated:hover::after {
  opacity: 0.2;
}

.box-animated:active::after {
  opacity: 1;
}




:root {
  --main-background: #080808;
  --secondary-background: #212121;
  --task-background: #212121;
  --button-background: #767678;
  --form-background: rgba(0, 0, 0, 0.5);
  --main-color: #778cdd;
  --secondary-color: white;
  --hr-color: #303030;
  --border-color: #ccc;
  --settings-background: #303030;
  --setup-background-color: black;
  --error-message: #dd7878;

  --box-shadow: 0 1px 4px #0004;
  --neutral-color: black;

  --blue: #778cdd;
  --pink: #f2b7c1;
  --green: #437d89;

  --main-font: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --open-sans: "Open Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}
.light-theme {
  --main-background: #f9f9f9;
  --secondary-background: #f5f5f5;
  --task-background: #ffffff;
  --button-background: #e0e0e0;
  --main-color: #4a63c8;
  --secondary-color: #1c1c1c;
  --hr-color: #1c1c1c;
  --border-color: #d1d1d1;
  --settings-background: #f0f0f0;
  --setup-background-color: #ffffff;

  /*--main-font: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;*/
}
.pink-theme {
  --main-color: #f2b7c1;
}
.green-theme {
  --main-color: #437d89;
}
