._dropDown_1bn80_1 {
  position: absolute;
  top: calc(env(safe-area-inset-top) + 5rem);
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 12.5rem;
  padding: 1rem;
  height: auto;

  background-color: var(--settings-background);
  border-radius: 5px;
  color: var(--secondary-color);

  z-index: 999;
}

._dropDownContent_1bn80_41 {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  box-sizing: border-box;
}

._dropDownContent_1bn80_41:hover {
  opacity: 80%;
}
._fab_1wqef_1 {
  position: fixed;
  bottom: 1rem;
  right: 3vw;
  display: flex;
  z-index: 20;
}

._fab_1wqef_1 button {
  font-family: "Arial", sans-serif;
  width: 3.7rem;
  height: 3.7rem;
  border: none;
  border-radius: 50%;
  font-size: 2.5rem;
  background-color: var(--main-color);
  font-family: var(--font-rubik);
  font-weight: 300;
  color: var(--setup-background-color);
}
