._header_ts405_1 {
  display: flex;
  padding: 1rem 1.25rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  background-color: var(--main-background);
  width: 90%;
  color: white;
  box-sizing: border-box;
}

._header_content_ts405_23 {
  display: flex;
  gap: 1rem;
}

._header_content_text_ts405_33 {
  display: flex;
  flex-direction: column;
}

._circle_img_ts405_43 {
  display: flex;
  height: 2rem;
  width: 2rem;
  color: white;
  border-radius: 50%;
  background-color: rebeccapurple;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  color: gray;
}

span {
  color: gray;
  font-size: 1rem;
}
