.content-box {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
}

.content-box span {
  font-size: 1.25rem;
}

.form-input-box {
  display: flex;
  gap: 1rem;
  color: #929292;
}

.form-input-box input:focus {
  outline: none;
}

.form-input {
  border: none;
  background-color: transparent;
  color: #7e7e7e;
}
.is-active {
  display: flex;
}

.is-hidden {
  display: none;
}

.is-open {
  opacity: 1 !important;
  transform: translateY(0) !important;
  max-height: 100% !important;
  transition: opacity 300ms ease !important;
}

.is-open-dropdown {
  opacity: 1 !important;
  transform: translateY(0) !important;
  height: auto !important;
  max-height: 500px !important;
  transition: opacity 300ms ease height 300ms ease;
}

.is-close {
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  transition: opacity 300ms ease;
}

.is-shrink {
  margin: 0 !important;
  background-color: var(--main-background) !important;
  padding: 0.5rem !important;
  padding-top: 1rem !important;
}

.is-shrink h1 {
  margin: 0 !important;
  padding-left: 3rem !important;
  grid-row: 1 !important;
  font-size: 1.5rem !important;
}

.is-shrink #settings {
  font-size: 1.5rem !important;
  width: max-content !important;
  height: max-content !important;
}

.is-selected {
  outline: 2px solid var(--secondary-color);
  outline-offset: 1px;
}
